# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

templates/25-agent-logs-old.yaml
templates/20-agent-old.yaml

# templates/20-agent.yaml
# templates/25-agent-logs.yaml

# templates/40-cluster-role.yaml
# templates/45-serviceaccount.yaml
# templates/80-agent-statefulset.yaml
# templates/85-agent-loki-daemonset.yaml
# templates/90-service.yaml