apiVersion: v2
name: grafana-agent-cloud
description: A Helm chart for Grafana Agent for Grafana Cloud

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.3.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "v0.25.0"

dependencies:
  - condition: kube-state-metrics.enabled
    name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: 4.X.X
  - condition: node-exporter.enabled
    alias: node-exporter
    name: prometheus-node-exporter
    repository: https://prometheus-community.github.io/helm-charts
    version: 3.X.X
  # - name: common
  #   repository: https://charts.bitnami.com/bitnami
  #   tags:
  #     - bitnami-common
  #   version: 1.x.x

home: https://github.com/grengojbo/charts/tree/master/charts/grafana-agent-cloud
icon: https://raw.githubusercontent.com/grafana/agent/v0.24.2/docs/assets/logo_and_name.png
maintainers:
  - email: oleg.dolya@gmail.com
    name: grengojbo
keywords:
  - grafana
  - loki
  - prometheus
  - monitoring
  - cortex
annotations:
  category: Monitoring
sources:
  - https://github.com/grengojbo/charts/blob/master/charts/grafana-agent-cloud