{{- $releaseNamespace := .Release.Namespace }}
{{- $secretData := (lookup "v1" "Secret" $releaseNamespace "primary-credentials-metrics").stringData }}
{{- $username := .Values.prometheus.username | b64enc }}
{{- $password := .Values.prometheus.apiKey | b64enc }}
{{- if $secretData }}
  {{-   $username = $secretData.username }}
  {{-   $password = $secretData.password }}
{{- end }}
{{- $secretDataLog := (lookup "v1" "Secret" $releaseNamespace "primary-credentials-logs").stringData }}
{{- $usernameLog := .Values.log.username | b64enc }}
{{- $passwordLog := .Values.log.apiKey | b64enc }}
{{- if $secretDataLog }}
  {{-   $usernameLog = $secretDataLog.username }}
  {{-   $passwordLog = $secretDataLog.password }}
{{- end }}
{{- /*
https://grafana.com/docs/agent/latest/operator/custom-resource-quickstart/
*/}}
---
apiVersion: v1
kind: Secret
metadata:
  name: primary-credentials-metrics
  namespace: {{ $releaseNamespace }}
stringData:
  username: {{ $username | quote }}
  password: {{ $password | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: primary-credentials-logs
  namespace: {{ $releaseNamespace }}
stringData:
  username: {{ $usernameLog | quote }}
  password: {{ $passwordLog | quote }}